# Environment variables
env.sh
.env
**/.env

# Deployment scripts
deploy-*.sh
english-learning-admin/deploy-admin.sh
english-learning-app/backend/deploy-backend.sh
english-learning-app/frontend/deploy-frontend.sh


# Google credentials
google.json
tts-generator/google.json

# System files
.DS_Store

# Node modules / build artifacts
node_modules/
dist/
.parcel-cache/
*.tar.gz

# Media files
english-learning-app/frontend/public/mp3/